# Environments
venv/
backend/venv/
.env
backend/.env

# Python / Django
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class
*.sqlite3
backend/*.sqlite3
db.sqlite3
backend/db.sqlite3
staticfiles/
backend/staticfiles/

# IDE / Editor
.vscode/
.idea/
*.swp
.DS_Store